<ion-tabs class="tabs-footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="item" tab="start">
      <ion-icon mode="ios" name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="profile">
      <ion-icon mode="ios" name="person"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="shop">
      <ion-icon mode="ios" name="cart"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="location">
      <ion-icon mode="ios" name="pin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="card">
      <ion-icon mode="ios" name="card"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
