<ion-tabs class="tabs-footer">
  <ion-tab-bar slot="bottom">
    <ion-tab-button class="item" tab="start">
      <ion-icon mode="ios" name="icon-lemuu-milk"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="profile">
      <ion-icon mode="ios" name="icon-lemuu-profile"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="shop">
      <ion-icon mode="ios" name="icon-lemuu-shop"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="address">
      <ion-icon mode="ios" name="icon-lemuu-adress"></ion-icon>
    </ion-tab-button>
    <ion-tab-button class="item" tab="card">
      <ion-icon mode="ios" name="icon-lemuu-cards"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
