<ion-header class="header">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="show_title == true" text-center> {{ title }} </ion-title>
    <ion-img *ngIf="show_picture == true" src="/assets/img/Logo_lemuu_white.svg" class="logo"></ion-img>
    <div *ngIf="show_notification == true" class="notification" slot="end" routerLink="/cart">
      <ion-icon mode="ios" name="icon-lemuu-shop"></ion-icon>
      <ion-badge color="dark">5</ion-badge>
    </div>
  </ion-toolbar>
</ion-header>
