.header {
  --ion-toolbar-background: var(--ion-color-default);
  background-color: var(--ion-toolbar-background);
  ion-toolbar {
    padding: 5px 0;
  }
  ion-buttons, ion-title {
    --ion-toolbar-color: var(--ion-color-white);
    color: var(--ion-toolbar-color);
  }
  ion-title {
    padding: 0;
    font-size: 1.2em;
  }
  .logo {
    width: 120px;
    margin: auto;
  }
  .notification {
    margin-right: 10px;
    ion-icon {
      font-size: 1.5em;
    }
    ion-badge {
      background: white;
      border-radius: 15px;
      color: black;
      margin-left: -5px;
      margin-bottom: -10px;
      padding: 3px 5px;
    }
  }
}
