<ion-content>
  <ion-slides pager="true" class="slide-full">
    <ion-slide>
      <ion-img src="/assets/img/Logo_lemuu_white.svg"></ion-img>
      <h1>Bievenido</h1>
      <p>Tu mejor opción para ti y tú familia</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/img/Logo_lemuu_white.svg"></ion-img>
      <h1>Bievenido</h1>
      <p>Tu mejor opción para ti y tú familia</p>
    </ion-slide>
    <ion-slide>
      <ion-img src="/assets/img/Logo_lemuu_white.svg"></ion-img>
      <h1>Bievenido</h1>
      <p>Tu mejor opción para ti y tú familia</p>
    </ion-slide>
  </ion-slides>
  <ion-button routerLink="/main" color="light" mode="ios">Saltar</ion-button>
</ion-content>
