ion-list {
  .add-picture {
    border-bottom: none;
    ion-button {
      height: 100%;
      margin: 0;
      ion-img {
        width: 80%;
      }
      ion-icon {
        position: absolute;
        top: 80%;
        left: 73%;
        background: #000;
        padding: 10px;
        border-radius: 10px;
      }
    }
  }
  ion-item {
    border-bottom: 1px solid var(--ion-color-gray);
    margin-top: 15px;
    margin-bottom: 40px;
  }
  ion-button {
    margin-bottom: 20px;
  }
}
