<app-header title="PERFIL" text="true" notification="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form action="">
          <ion-list class="my-2 mx-3">
            <ion-item lines="none" class="add-picture">
              <ion-button color="clear" mode="ios">
                <ion-img src="/assets/img/06-Lemuu-Perfil.jpg"></ion-img>
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-icon name="mail" slot="start"></ion-icon>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-icon name="call" slot="start"></ion-icon>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" mode="ios">
              <ion-icon mode="ios" name="icon-lemuu-cake" slot="start"></ion-icon>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-button type="submit" color="default">GUARDAR CAMBIOS</ion-button>
            <ion-button routerLink="/historial" color="default">PEDIDOS REALIZADOS</ion-button>
            <ion-button routerLink="/set-password" color="default">CAMBIAR CONTRASEÑA</ion-button>
            <ion-button routerLink="/logout" color="default">CERRAR SESIÓN</ion-button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
