<app-header title="COMPRA" text="true" notification="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form action="" padding class="form-buy">
          <ion-list no-margin>
            <ion-item lines="none" routerLink="/adress" mode="ios" class="buy">
              <ion-label>
                <p>Dirección</p>
                <span>Unicornio 3866</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none" routerLink="/cards" mode="ios" class="buy">
              <ion-label>
                <p>Métodos de pago</p>
                <ion-icon mmode="ios" name="icon-lemuu-paypal"></ion-icon>
                <span>1009</span>
              </ion-label>
            </ion-item>
            <ion-item lines="none" class="buy">
              <ion-label position="stacked" mode="ios">Código de descuento</ion-label>
              <ion-input type="text" class="coupon"></ion-input>
            </ion-item>
            <ion-radio-group>
              <ion-item lines="none">
                <ion-label text-wrap>Lo antes posible</ion-label>
                <ion-radio value="no" slot="start" mode="ios"></ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-label text-wrap>Programar pedido</ion-label>
                <ion-radio value="yes" slot="start"  mode="ios" checked></ion-radio>
              </ion-item>
            </ion-radio-group>
            <ion-row class="date">
              <ion-col size="6">
                <ion-label>Día</ion-label>
                <ion-datetime no-padding text-wrap
                  placeholder="Selecciona fecha"
                  display-format="DD-MMMM-YYYY"
                  cancel-text="Cancelar"
                  done-text="Seleccionar"
                  (ionChange)="setDate($event)">
                </ion-datetime>
              </ion-col>
              <ion-col size="6">
                <ion-label>Hora</ion-label>
                <ion-datetime no-padding text-wrap
                  placeholder="Selecciona fecha"
                  display-format="DD-MMMM-YYYY"
                  cancel-text="Cancelar"
                  done-text="Seleccionar"
                  (ionChange)="setDate($event)">
                </ion-datetime>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="cost">
                  <span>Producto</span>
                  <span>$200.00</span>
                  <span>Descuento</span>
                  <span>$100.00</span>
                  <span>Envío</span>
                  <span>$45.00</span>
                  <span>TOTAL</span>
                  <span>$145.00</span>
                </div>
              </ion-col>
            </ion-row>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
