<app-header title="NUEVA TARJETA" text="true" notification="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form action="" text-center class="my-2 mx-3">
          <ion-list class="list-form">
            <ion-grid no-padding>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="item-no-padding">
                    <ion-label position="stacked" mode="ios">Número de tarjeta</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="6">
                  <ion-item lines="none" class="item-no-padding">
                    <ion-label position="stacked" mode="ios" text-wrap>Fecha de expiración</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-item lines="none" class="item-no-padding">
                    <ion-label position="stacked" mode="ios" text-wrap>Código de seguridad</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-item lines="none" class="item-no-padding">
                    <ion-label position="stacked" mode="ios">Nombre completo</ion-label>
                    <ion-input type="text"></ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-button type="submit" color="default">AGREGAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
