<app-header title="LÁCTEOS"></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="product-item">
      <ion-col size="6" no-padding>
        <ion-img src="/assets/img/04-Lemuu-Producto1.jpg" routerLink="/product-detail"></ion-img>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-item lines="none">
          <ion-label text-wrap>
            <h3>LECHE ENTERA 1L</h3>
            <p>Leche de vaca entera 100% natural.
            Ideal para toda la familia, tiene nutrimentos
            esenciales para mantener huesos y dientes sanos.</p>
          </ion-label>
        </ion-item>
        <form action="" text-center>
          <ion-list>
            <ion-item lines="none">
              <ion-label>$20.00</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Price</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" routerLink="/profile" type="submit" color="default">AGREGAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="product-item">
      <ion-col size="6" no-padding>
        <ion-img src="/assets/img/04-Lemuu-Producto2.jpg" routerLink="/product-detail"></ion-img>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-item lines="none">
          <ion-label text-wrap>
            <h3>LECHE ENTERA 1L</h3>
            <p>Leche de vaca entera 100% natural.
            Ideal para toda la familia, tiene nutrimentos
            esenciales para mantener huesos y dientes sanos.</p>
          </ion-label>
        </ion-item>
        <form action="" text-center>
          <ion-list>
            <ion-item lines="none">
              <ion-label>$20.00</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Price</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" routerLink="/profile" type="submit" color="default">AGREGAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row class="product-item">
      <ion-col size="6" no-padding>
        <ion-img src="/assets/img/04-Lemuu-Producto3.jpg" routerLink="/product-detail"></ion-img>
      </ion-col>
      <ion-col size="6" no-padding>
        <ion-item lines="none">
          <ion-label text-wrap>
            <h3>LECHE ENTERA 1L</h3>
            <p>Leche de vaca entera 100% natural.
            Ideal para toda la familia, tiene nutrimentos
            esenciales para mantener huesos y dientes sanos.</p>
          </ion-label>
        </ion-item>
        <form action="" text-center>
          <ion-list>
            <ion-item lines="none">
              <ion-label>$20.00</ion-label>
            </ion-item>
            <ion-item lines="none">
              <ion-label>Price</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button expand="full" routerLink="/profile" type="submit" color="default">AGREGAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
