<app-header title="Ingresa con tu cuenta"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form action="" padding text-center>
          <ion-list>
            <ion-item>
              <ion-label position="floating">Correo Electrónico</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button routerLink="/profile" type="submit" color="default">INGRESAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
