<app-header title="Ingresa con tu cuenta" text="true"></app-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img src="/assets/img/02-Lemuu-Producto-Login.jpg"></ion-img>
        <form action="" class="py-2 px-4">
          <ion-list class="list-form" mode="ios">
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Correo Electrónico</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Contraseña</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding forgot-pass" routerLink="/forgot-password" mode="md">
              <ion-label no-margin>¿Olvidaste tu contraseña?</ion-label>
            </ion-item>
          </ion-list>
          <ion-button routerLink="/footer-tabs" type="submit" color="default">INGRESAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
