<app-header title="Crea una cuenta" text="true"></app-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img src="/assets/img/02-Lemuu-Producto-Registro.jpg"></ion-img>
        <form action="" class="register-form">
          <ion-list class="list-form">
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Correo Electrónico*</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Contraseña*</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Nombre(s)*</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Apellido(s)*</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">No. de Celular</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Fecha de Nacimiento</ion-label>
              <ion-datetime
                placeholder="Selecciona aquí"
                display-format="DD-MMMM-YYYY"
                cancel-text="Cancelar"
                done-text="Seleccionar">
              </ion-datetime>
            </ion-item>
          </ion-list>
          <ion-button routerLink="/footer-tabs" type="submit" color="default">INGRESAR</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
