<app-header title="NUEVA DIRECCIÓN" text="true" notification="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form action="" class="mx-3">
          <ion-list class="list-form">
            <ion-item lines="none" class="add-picture">
              <ion-button color="clear" mode="ios">
                <ion-img src="/assets/img/09-Lemuu-Direcciones.jpg"></ion-img>
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Nombre del domicilio</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Calle</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">No. Exterior</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Colonia</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
            <ion-item lines="none" class="item-no-padding">
              <ion-label position="stacked" mode="ios">Código postal</ion-label>
              <ion-input required type="text"></ion-input>
            </ion-item>
          </ion-list>
          <ion-button type="submit" color="default">GUARDAR CAMBIOS</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
