.add-picture {
  margin: 20px 0;
  ion-button {
    height: 100%;
    width: 200px;
    margin: auto;
    ion-img {
      width: 100%;
    }
    ion-icon {
      position: absolute;
      top: 80%;
      left: 78%;
      background: #000;
      padding: 10px;
      border-radius: 10px;
    }
  }
}
