<app-header title="HISTORIAL DE PEDIDOS" text="true" notification="true"></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="historial">
        <div class="order">
          <ion-item lines="none" class="item-no-padding" mode="ios">
            <ion-label text-wrap>
              <h3><b>Lacteos - Cereales - Carnes frias  $250.00</b></h3>
              <p>
                1L Leche entera
                2L Leche sabor vainilla
                1k Avena
                300g Jamón.
              </p>
              <span>Martes, 14 de junio</span>
            </ion-label>
          </ion-item>
          <ion-button color="default" routerLink="/resume">VER RESUMEN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="historial">
        <div class="order">
          <ion-item lines="none" class="item-no-padding" mode="ios">
            <ion-label text-wrap>
              <h3><b>Lacteos - Cereales - Carnes frias  $250.00</b></h3>
              <p>
                1L Leche entera
                2L Leche sabor vainilla
                1k Avena
                300g Jamón.
              </p>
              <span>Martes, 14 de junio</span>
            </ion-label>
          </ion-item>
          <ion-button color="default" routerLink="/resume">VER RESUMEN</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="historial">
        <div class="order">
          <ion-item lines="none" class="item-no-padding" mode="ios">
            <ion-label text-wrap>
              <h3><b>Lacteos - Cereales - Carnes frias  $250.00</b></h3>
              <p>
                1L Leche entera
                2L Leche sabor vainilla
                1k Avena
                300g Jamón.
              </p>
              <span>Martes, 14 de junio</span>
            </ion-label>
          </ion-item>
          <ion-button color="default" routerLink="/resume">VER RESUMEN</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
