.historial {
  border-bottom: 1px solid var(--ion-color-gray);
  .order {
    margin-left: 30px;
    margin-right: 24px;
    ion-item {
      ion-label {
        margin-right: 0;
        h3 { text-transform: uppercase; }
        p { color: #000; margin: 15px 0; }
        span {
          color: var(--ion-color-gray);
          font-weight: 500;
        }
      }
    }
    ion-button { margin-bottom: 10px; }
    ion-item p, ion-button {
      width: 50%;
    }
  }
}
