ion-item {
  border-bottom: 1px solid #000000;
  // &:last-child {
  //   border-bottom: none;
  // }
  ion-label {
    color: var(--ion-color-gray) !important;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  ion-icon {
    margin-right: 20px;
  }
}
