<app-header image="true" notification="true"></app-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>
        <ion-img src="/assets/img/03-Lemuu-inicio.jpg"></ion-img>
        <ion-list lines="full" no-padding>
          <ion-item *ngFor='let view of views' [routerLink]="view.redirectTo" mode="md" lines="none">
            <ion-label>
              {{view.name}}
            </ion-label>
            <ion-icon name="arrow-forward" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
