.delivery-man {
  display: flex;
  ion-icon {
    border: 1px solid black;
    border-radius: 29px;
    font-size: 2em;
    margin-right: 10px;
    padding: 10px;
  }
}

ion-textarea {
  border: 1px solid var(--ion-color-gray);
  border-radius: 5px;
  padding: 10px;
}
